<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v3.12.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ asset('assets/images/challenger-128x128.png') }}" type="image/x-icon">
  <meta name="description" content="League of Legends Elo Boost Tunisia">
  <title>EloBoostTN | Home</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="{{ asset('assets/bootstrap-material-design-font/css/material.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/web/assets/mobirise-icons/mobirise-icons.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/et-line-font-plugin/style.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/tether/tether.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/animate.css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/dropdown/css/style.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/socicon/css/styles.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/theme/css/style.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/mobirise/css/mbr-additional.css') }}" type="text/css">
  
  
  
</head>
<body>
<section id="menu-4">

    <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="#top" class="navbar-logo"><img src="{{ asset('assets/images/challenger-128x128.png') }}" alt="Elo Boost TN" title="Elo Boost TN"></a>
                        <a class="navbar-caption text-white" href="{{ path('elo_boost_homepage') }}">ELO BOOST TN</a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="{{ path('fos_user_security_login') }}"><span class="etl-icon icon-profile-male mbr-iconfont mbr-iconfont-btn"></span>Login</a></li><li class="nav-item dropdown open"><a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="#" aria-expanded="true">FEATURES</a><div class="dropdown-menu"><a class="dropdown-item" href="#top"><span class="mbri-delivery mbr-iconfont mbr-iconfont-btn"></span>ELO Boost</a><a class="dropdown-item" href="index.html.twig#pricing-table1-h"><span class="mbri-cart-add mbr-iconfont mbr-iconfont-btn"></span>RP Purchase</a><a class="dropdown-item" href="Verify.html.twig"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>Verifiy Payment (Boost)</a><a class="dropdown-item" href="Verify.html.twig"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>Verifiy Payment (RP Purchase)</a><a class="dropdown-item" href="realtimeprogress.html.twig"><span class="etl-icon icon-clock mbr-iconfont mbr-iconfont-btn"></span>Realtime Progress</a><a class="dropdown-item" href="#contacts3-k"><span class="mbri-letter mbr-iconfont mbr-iconfont-btn"></span>Contact</a></div></li><li class="nav-item nav-btn"><a class="nav-link btn btn-success-outline btn-success" href="https://www.facebook.com" target="_blank"><span class="socicon socicon-facebook mbr-iconfont mbr-iconfont-btn"></span>LIKE</a></li></ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>

<section class="engine"><a rel="external" href="{{ path('elo_boost_homepage') }}">Mobirise Web Site Builder</a></section><section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding mbr-after-navbar" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="10000" id="slider-0">
    <div>
        <div>
            <div>
                <ol class="carousel-indicators">
                    <li data-app-prevent-settings="" data-target="#slider-0" class="active" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#slider-0" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider-0" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active" data-bg-video-slide="https://www.youtube.com/watch?v=lu0fUb0PGh4">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay"></div>
                            <div class="container-slide container">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-1">
                                        <h2 class="mbr-section-title display-1">ELO BOOST TN</h2>
                                        <p class="mbr-section-lead lead">First Website in Tunisia that Sells 100% <strong>LEGIT</strong> <strong>R</strong>iot <strong>P</strong>oints (RP)<br>and Boosts League Of Legends Accounts.</p>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="https://www.youtube.com/watch?v=mUeloo_Qvrk">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay"></div>
                            <div class="container-slide container">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-xs-center">
                                        <h2 class="mbr-section-title display-1">ELO BOOST</h2>
                                        <p class="mbr-section-lead lead">You're stuck at <strong>ELO HELL</strong> ? We know that feeling<br>that's why we created this website for you<br>to get you out of the <strong>ELO HELL</strong>.</p>

                                        <div class="mbr-section-btn"> <a class="btn btn-lg btn-white btn-white-outline" href="{{ path('elo_boost_boost') }}">Boost your account NOW</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="https://www.youtube.com/watch?v=W2nNTmampaI">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay"></div>
                            <div class="container-slide container">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-xs-center">
                                        <h2 class="mbr-section-title display-1">RP Purchase</h2>
                                        <p class="mbr-section-lead lead">Everyone wants to buy skins for their favorite champion<br>Our problem is , we don't have any payment method in Tunisia<br>So to purshase some RP , you need someone with a paypal account<br>We happen to know someone who has a paypal account :D</p>

                                        <div class="mbr-section-btn"> <a class="btn btn-lg btn-white btn-white-outline" href="index.html#pricing-table1-h">Buy RP</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-0">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-0">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="pricing-table1-h" style="background-color: rgb(48, 48, 48); padding-top: 80px; padding-bottom: 80px;">

    

    <div class="mbr-section mbr-section__container mbr-section__container--middle">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 text-xs-center">
                  <h3 class="mbr-section-title display-2">RP PRICING TABLE</h3>
                  <small class="mbr-section-subtitle">Shipping dates : Between 3-5 Days</small>
              </div>
          </div>
      </div>
    </div>

    <div class="mbr-section mbr-section-nopadding mbr-price-table">
      <div class="row">
            <div class="col-xs-12  col-md-6 col-xl-3">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">
                      
                      <div class="card-title">
                        <h3 class="mbr-plan-title">1780</h3>
                        <small class="mbr-plan-subtitle"><br><br></small>
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value">€</span>
                            <span class="mbr-price-figure">10</span><small class="mbr-price-term"></small>
                          </div>
                          <small class="mbr-plan-price-desc"></small>
                      </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list"><ul class="list-group list-group-flush"></ul></div>
                      <div class="mbr-plan-btn"><a href="{{ path('RPPuchase_add_account', {'amount': 10}) }}" class="btn btn-warning-outline btn-warning">Order</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-md-6 col-xl-3">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">
                      
                      <div class="card-title">
                        <h3 class="mbr-plan-title">3620</h3>
                        <small class="mbr-plan-subtitle"><br><br></small>
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value">€</span>
                            <span class="mbr-price-figure">20</span><small class="mbr-price-term"></small>
                          </div>
                          <small class="mbr-plan-price-desc"></small>
                      </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list"><ul class="list-group list-group-flush"></ul></div>
                      <div class="mbr-plan-btn"><a href="{{ path('RPPuchase_add_account', {'amount': 20}) }}" class="btn btn-warning-outline btn-warning">Order</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-md-6 col-xl-3">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">
                      
                      <div class="card-title">
                        <h3 class="mbr-plan-title">6450</h3>
                        <small class="mbr-plan-subtitle"><br><br></small>
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value">€</span>
                            <span class="mbr-price-figure">35</span><small class="mbr-price-term"></small>
                          </div>
                          <small class="mbr-plan-price-desc"></small>
                      </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list"></div>
                      <div class="mbr-plan-btn"><a href="{{ path('RPPuchase_add_account', {'amount': 35}) }}" class="btn btn-warning-outline btn-warning">Order</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-md-6 col-xl-3">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block bg-primary">
                      <div class="mbr-plan-label">Best Deal !</div>
                      <div class="card-title">
                        <h3 class="mbr-plan-title">9300</h3>
                        <small class="mbr-plan-subtitle"><br><br></small>
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value">€</span>
                            <span class="mbr-price-figure">50</span><small class="mbr-price-term"></small>
                          </div>
                          <small class="mbr-plan-price-desc"></small>
                      </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list"><ul class="list-group list-group-flush"></ul></div>
                      <div class="mbr-plan-btn"><a href="{{ path('RPPuchase_add_account', {'amount': 50}) }}" class="btn btn-warning-outline btn-warning">Order</a></div>
                    </div>
                </div>
            </div>
          </div>
    </div>

</section>

<section class="mbr-section mbr-section-md-padding mbr-parallax-background" id="social-buttons2-e" style="background-image: url({{ asset('assets/images/teemo.png') }}); padding-top: 60px; padding-bottom: 60px;">
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2" style="color:white">Follow Us :</h3>
                <div><a class="btn btn-social" title="Facebook" target="_blank" href="https://www.facebook.com/pages/Mobirise/1616226671953247"><i class="socicon socicon-facebook" style="color: white"></i></a>         </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="fb-comments" style="background-color: rgb(48, 48, 48); padding-top: 80px; padding-bottom: 80px;">

    <div class="container">
        <div class="row">
            <div class="mbr-company col-xs-12">
                <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1400886259977050";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                <center>
                <div class="fb-comments" data-colorscheme="dark" data-order-by="reverse_time" data-href="https://www.elo-boost.tn" data-width="1000" data-numposts="10" ></div>
                </center>
            </div>
        </div>
    </div>
</section>

<section class="mbr-footer mbr-section mbr-section-md-padding" id="contacts3-b" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">


    <div class="row">
    
            <div class="mbr-company col-xs-12 col-md-6 col-lg-3">

                <div class="mbr-company card">
                    <div><img src="{{ asset('assets/images/challenger-265x265.png') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <p class="card-text">Don't be shy , contact us at anytime you want.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="list-group-icon"><span class="etl-icon icon-phone mbr-iconfont-company-contacts3"></span></span>
                            <span class="list-group-text">+216 50 280 400<br>+216 52 621 913</span>
                        </li>
                        <li class="list-group-item">
                            <span class="list-group-icon"><span class="etl-icon icon-map-pin mbr-iconfont-company-contacts3"></span></span>
                            <span class="list-group-text">Monastir , Tunisia</span>
                        </li>
                        <li class="list-group-item active">
                            <span class="list-group-icon"><span class="etl-icon icon-envelope mbr-iconfont-company-contacts3"></span></span>
                            <span class="list-group-text">EloBoostTN@gmail.com</span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="mbr-footer-content col-xs-12 col-md-6 col-lg-3">
                <h4>Categories</h4>
                <ul><li><a href="boost.html.twig">Elo Boost</a></li><li><a href="index.html#pricing-table1-h">RP Purchase</a></li><li><a href="Verify.html.twig">Verify Payment (Boost)</a></li><li><a href="Verify.html.twig">Verify Payment (RP Purchase)</a></li><li><span style="font-size: 0.875rem; line-height: 1.8;"><a href="realtimeprogress.html.twig">Realtime Progress</a></span></li><li>Login (Staff Only)</li></ul>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-6 col-lg-3">
                <p><strong>Contacts</strong><br>Email: EloBoostTN@gmail.com<br>Phone: +216 50 280 400<br>Phone: +216 52 621 913<br>Bank CC : XXXX XXXX XXXX XXXX<br><br><strong>Address</strong><br>Cité agba<br>5000 <br>Monastir,Tunisia</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" data-form-type="formoid">

                <div data-form-alert="true">
                    <div hidden="" data-form-alert-success="true">Message sent successfully</div>
                </div>

                <form action="{{ path('elo_boost_homepage') }}" method="post" data-form-title="MESSAGE">
                    <input type="hidden" value="jg6WrDUXSelWn7X1eaygShvHltwBk8jVWv0H6SyQDvJKWRNh7yQoCCqWkpbd4wZIkAL3j+Yj7xmJIv6MKhOGiIhQUMMAv9ljXmLzKCIuaZGVSt9TAqykNE6bp7wPNcpo" data-form-email="true">

                    <div class="form-group">
                        <label class="form-control-label" for="contacts3-b-name">Name<span class="form-asterisk">*</span></label>
                        <input type="text" class="form-control input-sm input-inverse" name="name" required="" data-form-field="Name" id="contacts3-b-name">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="contacts3-b-email">Email<span class="form-asterisk">*</span></label>
                        <input type="email" class="form-control input-sm input-inverse" name="email" required="" data-form-field="Email" id="contacts3-b-email">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="contacts3-b-phone">Phone</label>
                        <input type="tel" class="form-control input-sm input-inverse" name="phone" data-form-field="Phone" id="contacts3-b-phone">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="contacts3-b-message">Message</label>
                        <textarea class="form-control input-sm input-inverse" name="message" data-form-field="Message" rows="5" id="contacts3-b-message"></textarea>
                    </div>

                    <div><button type="submit" class="btn btn-sm btn-danger-outline"><span class="mbri-help mbr-iconfont mbr-iconfont-btn"></span>Contact us</button></div>

                </form>

            </div>
        </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-d" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 Mobirise.<br>Made By Mobirise 3.12.1</p>
    </div>
</footer>


  <script src="{{ asset('assets/web/assets/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/tether/tether.min.js') }}"></script>
  <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/smooth-scroll/smooth-scroll.js') }}"></script>
  <script src="{{ asset('assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js') }}"></script>
  <script src="{{ asset('assets/jquery-mb-ytplayer/jquery.mb.ytplayer.min.js') }}"></script>
  <script src="{{ asset('assets/viewport-checker/jquery.viewportchecker.js') }}"></script>
  <script src="{{ asset('assets/dropdown/js/script.min.js') }}"></script>
  <script src="{{ asset('assets/touch-swipe/jquery.touch-swipe.min.js') }}"></script>
  <script src="{{ asset('assets/jarallax/jarallax.js') }}"></script>
  <script src="{{ asset('assets/theme/js/script.js') }}"></script>
  <script src="{{ asset('assets/mobirise-slider-video/script.js') }}"></script>
  <script src="{{ asset('assets/formoid/formoid.min.js') }}"></script>
  
  
  <input name="animation" type="hidden">
  </body>
</html>